:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: white;
}
a:hover {
  color: skyblue;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #4f4d4d;
}

input {
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #fefefe;
}
h2 {
  color: #fefefe;
}

ul {
  list-style-type: none;
  grid-gap: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 0;
}
.card:hover {
  scale: 1.05;
  transition: all 0.5s;
}
button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.5s;
  border: 2px solid #242424;
}
button:hover {
  opacity: 0.9;
}
.card {
  background-color: #361e29;
  padding-top: 10px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1025px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 641px) {
  ul {
    grid-template-columns: 1fr;
  }
}
